* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

header h1 {
  font-family: 'Nerko One', cursive;
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin: 15px 15px;
  text-shadow: 2px 2px 4px #000;
}

main {
  margin: auto;
}

.row {
  margin-bottom: 25px;
}

.row .shape {
  width: 170px;
  height: 200px;
  border-radius: 10%;
}


footer h3 {
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  color: #000;
  text-shadow: 2px 2px 1px #bababa;
  text-align: center;
  margin-bottom: 10px;
}
