* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6
}

header h1 {
  font-family: 'Nerko One', cursive;
  text-align: center;
  color: #fff;
  font-size: 60px;
  margin: 15px 15px;
  text-shadow: 2px 2px 4px #000;
}

main {
  margin: auto;
  text-align: center;
}

.main-box {
  margin-bottom: 25px;
}

.shape {
  width: 170px;
  height: 200px;
  border-radius: 10%;
  margin-left: 15px;
  box-shadow: 2px 2px 2px #141414;
  display: inline-block;

}

.tractor-box,
.tractor-box-2 {
  box .shape {
    width: 170px;
    height: 200px;
    border-radius: 10%;
    margin-left: 15px;
    box-shadow: 2px 2px 2px #141414;
    display: inline-block;
    background-image: url(../img/pattern.png);
}

footer h4 {
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  color: #000;
  text-shadow: 2px 2px 1px #bababa;
  text-align: center;
  margin-bottom: 20px;
}
